.container{
    width:20em;
    margin: 0 0.8em;
    /* float: left; */
    /* border: 2px solid green; */
    position: relative;
}

.container.darkMode{
  color: wheat;
}
.container.lightMode{
  color: black;
}


.pic img{
    width: 100%;
  }
  .title{
    font-weight: bold;
    margin-bottom: 1em;
    /* color:white */
  }
  .channel, .views{
    font-size: small;
    font-weight: bold;
    /* color:#ccc; */
    margin-bottom: 0.2em;
  }
  .views span{
    padding: 0 0.5em;
  }
  
.close{
  position: absolute;
  right: 149.5px;
  height: 38.2px;
}

.edit{
  position: absolute;
  right: 242.5px;
  height: 33.2px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}