.App {
  /* text-align: center; */
  height: 100vh;
  width: 100%;
  /* border: 3px solid blue; */
}
.video {
  display: flex;
  justify-content: center;
}


/* .App-header {
  background-color: #282c34;
  /* border: 1px solid white; */
  /* min-height: 100vh; */
  /* height: 500px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 
*/ 

.darkMode{
  background-color: #282c34;
}

.lightMode{
  background-color: #ccc;
}